@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@font-face {
	font-family: 'BM Hanna Pro';
	src: url('/bm-hanna-pro.regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-baskerville: 'Libre Baskerville', serif;
	--font-bm-hanna: 'BM Hanna Pro', serif;
}

body {
	margin: 0;
}
